# After creating a service account for this program in Google API Console, download the credentials file as - 
Creds/service_account_credentials.json

# mycreds.txt is created automatically by the authenticate_client() function in modules/gprocesses.py. If an error ever appears due to the credentials expiring or something, delete the file and run the program again
Creds/mycreds.txt

# Read readme.md to know how to set up user_constants.py
USER_CONSTANTS.py 


__pycache__/

